{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <style>
        .container {
            height: 100%;
            width: 100%;
        }

        .showcase, .top {
            margin: 15px;
            padding: 0;
            display: flex;
            flex-flow: row wrap;
            -webkit-flex-flow: row wrap;
            justify-content: space-around;
        }

        .product {
            font-size: 1em;
            padding: 5px;
            margin: 20px 50px;

            max-width: 300px;
            height: 200px;

            flex: 1 1 300px;

            border: solid 2px lightgray;
        }
        .product .photo {
            text-align: center;

        }
        .product img {
            width: 150px;
            height: 150px;
        }
        .product .description {
            width: 90%;
            font-weight: 600;
            font-size: 18px;
            margin: 0 auto;
        }
        .product .name {
            color: black;
            float: left;
        }
        .product .price {
            color: tomato;
            float: right;
        }
        .product .category {
            font-style: italic;
            font-weight: normal;
            color: gray;
            clear: both;
        }
        .menu-wrapper {
            flex: 1 1;
            align-self: flex-start;
        }
        .menu {
            margin-left: 65px;
        }
        .logo {
            flex: 1 1;
            align-self: center;
            padding-left: 23%;
        }
        .links {
            flex: 1 1;
            align-self: flex-end;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-right: 65px;
        }
        @media screen and (max-device-width: 768px){
            .top, .links {
                flex-flow: column wrap;
                justify-content: flex-start;
                align-content: flex-start;
                text-align: center;
            }
            .menu-wrapper, .logo, .links {
                width: 100%;
                padding: 0;
            }
            .menu, .links {
                margin: 0;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <div class="top">
        <div class="menu-wrapper">
            <div class="menu">Menu</div>
        </div>
        <div class="logo">Logo</div>
        <div class="links">
            <div class="search">Search</div>
            <div class="account">My account</div>
            <div class="cart">Cart</div>
        </div>
    </div>
    <div class="showcase">
        {% include 'showcase.html' %}
{#        {% for product in products %}#}
{#            <div class="product">#}
{#                <div class="photo">#}
{#                    <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5817.png" alt="">#}
{#                </div>#}
{#                <div class="description">#}
{#                    <div class="name">#}
{#                        {{ product.name }}#}
{#                    </div>#}
{#                    <div class="price">#}
{#                        {{ product.price }}$#}
{#                    </div>#}
{#                    <div class="category">#}
{#                        {{ product.category }}#}
{#                    </div>#}
{##}
{#                </div>#}
{##}
{#            </div>#}
{#        {% endfor %}#}
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>