{% for product in products %}
    <div class="product">
        <div class="photo">
            <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5817.png"
                 alt="">
        </div>
        <div class="description">
            <div class="name">
                {{ product.name }}
            </div>
            <div class="price">
                {{ product.price }}$
            </div>
            <div class="category">
                {{ product.category }}
            </div>

        </div>

    </div>
{% endfor %}